// page header
header {
  position:fixed;  
  top:0;
  left:0;
  right:0;
  height:148px;
  background-color:#fff;
  z-index:10;
  transition:all .3s ease-in-out;
  @include fontNone;
  h1 {
    height:92px;
    padding:19px 0 0 0;
    text-align:center;
    transition:all .3s ease-in-out;
    a {
      display:inline-block;
      width:207px;
      height:53px;
      background:url("../images/logo.png") no-repeat center center;
      background-size:contain;
      vertical-align: top;
      @include fontNone;
      transition:all .3s ease-in-out;
    }
  }
  .m-title,
  .m-menu,
  .m-close {
    display:none;
  }


  #gnb {
    position:relative;
    background-color:#3c3c3c;
    text-indent: 0;
    .container {
      padding:0 210px;
    }
    ul {
      display:flex;
      width:100%;
      padding:0 0 0 0;
      li {
        width:25%;
        a {
          display:block;
          padding:0 19px;
          line-height:57px;
          color:#fff;
          font-size:rem(18);
          font-weight:500;
          text-align:center;
          transition:all .3s ease-in-out;
        }
        &.active {
          a {
            color:$color-point;
            font-weight:700;
          }
        }
      }
    }
  }

  // h-active
  &.h-active {
    height:90px;
    h1 {
      height:50px;
      padding-top:8px;
      a {
        height:36px;
      }
    }
    #gnb {
      ul {
        li {
          a {
            font-size:rem(14);
            line-height:40px;
          }
        }
      }
    }
  }


  // mobile
  @include mediaQuery($deviceSmall){
    height:52px;
    h1 {
      position: static;
      height:52px;
      padding-top:10px;
      text-align:center;
      a {
        display:inline-block;
        width:124px;
        height:32px;
        vertical-align: top;
      }
    }
    .m-menu {
      display:flex;
      justify-content: center;
      align-items: center;
      position:absolute;
      top:0;
      left:0;
      width:46px;
      height:52px;
      @include fontNone;
      > span {
        position: relative;
        display:block;
        width:20px;
        height:2px;
        background-color:#666;
        &:before,
        &:after {
          content:'';
          display:block;
          width:20px;
          height:2px;
          background-color:#666;
        }
        &:before {
          margin-top:-6px;
        }
        &:after {
          margin-top:11px;
        }
      }
    }
    #gnb {
      position:fixed;
      top:0;
      height:100%;
      background-color:#fff;
      z-index:12;
      @include mMenu;
      .container {
        width:auto;
        padding:0;
      }
      .m-title {
        display:block;
        height:83px;
        border-bottom:1px solid #ddd;
        background:url("../images/logo.png") no-repeat center center;
        background-size:auto 33px;
        @include fontNone;
      }
      ul {
        display:block;
        padding:0;
        border-right:1px solid #ddd;
        li {
          width:100%;
          border-bottom:1px solid #ddd;
          a {
            color:#222;
            padding:0 0 0 24px;
            line-height:65px;
            font-size:rem(12);
            text-align:left;
          }
        }
      }
      .m-close {
        display:flex;
        justify-content: center;
        align-items: center;
        position:absolute;
        top:0;
        right:0;
        width:46px;
        height:52px;
        @include fontNone;
        span {
          width:20px;
          height:2px;
          background-color:#666;
          transform:rotate(-45deg);
          &:after {
            content:'';
            display:block;
            width:20px;
            height:2px;
            background-color:#666;
            transform:rotate(-90deg);
          }
        }
      }
    }

    // h-active
    &.h-active {
      height:52px;
      h1 {
        height:52px;
        padding-top:10px;
        a {
          height:32px;
        }
      }
      #gnb {
        ul {
          li {
            a {
              font-size:rem(12);
              line-height:65px;
            }
          }
        }
      }
    }
  }
}