// intro
#main {
  margin:-148px 0 -200px;
  > div {
    height:100vh;
    color:#fff;
  }

  .container {
    height:100%;
    padding:90px 30px 0;
  }

  .main-title-1 {
    padding-bottom:25px;
    font-size:rem(50);
    font-weight:700;
    line-height:1.2;
    text-align:center;
    span {
      display:block;
      margin-bottom:6px;
      font-size:rem(15);
      font-weight:500;
      text-transform: uppercase;
    }
    &.type-2 {
      position:relative;
      padding-bottom:40px;
      &:after {
        content:'';
        display:block;
        position:absolute;
        bottom:0;
        left:50%;
        width:66px;
        height:1px;
        transform: translateX(-50%);
        background-color:#d2d0d4;
      }
    }
  }

  .main-text-1 {
    font-size:rem(20);
    font-weight:500;
    text-align:center;
  }

  .text-box {
    display:flex;
    flex-flow:column;
    justify-content: center;
    height:100%;
  }

  // intro
  [data-section-name='intro'] {
    background:url("../images/main_bg01.jpg") no-repeat center 90px;
    background-size:cover;
    .text-box {
      .text01 {
        position:relative;
        padding-bottom:25px;
        font-size:rem(50);
        line-height:1.2;
        strong {
          font-weight:700;
        }
        &:after {
          content:'';
          display:block;
          position:absolute;
          bottom:0;
          left:0;
          width:64px;
          height:1px;
          background-color:#fff;
        }
      }
      .text02 {
        margin-top:28px;
        font-size:rem(20);
        line-height:1.6;
      }
      .icon {
        display:flex;
        margin-top:35px;
        li {
          margin-right:45px;
          text-align:center;
          img {
            width:97px;
          }
          span {
            display:block;
            margin-top:10px;
            font-size:rem(15);
            font-weight:700;
          }
        }
      }
    }
  }

  // subject
  [data-section-name='subject'] {
    background:url("../images/main_bg02.jpg") no-repeat center center;
    background-size:cover;
    .subject-list {
      display:flex;
      flex-wrap:wrap;
      justify-content: space-between;
      width:100%;
      padding:30px 0 0 0;
      li {
        display:flex;
        flex-flow:column;
        justify-content: center;
        align-items: center;
        width:212px;
        height:212px;
        margin-top:35px;
        color:#303030;
        background-color:#fff;
        span {
          display:block;
          margin-top:15px;
          font-size:rem(20);
          font-weight:700;
        }
      }
    }
  }

  // infra
  [data-section-name='infra'] {
    background:url("../images/main_bg03.jpg") no-repeat center center;
    background-size:cover;
    .infra-list {
      display:flex;
      justify-content: center;
      margin:95px 0 125px 0;
      li {
        display:flex;
        flex-flow: column;
        justify-content: space-between;
        width:225px;
        height:225px;
        margin:0 17px;
        padding:30px 0 0 0;
        color:#303030;
        background-color:#fff;
        border-radius:18px;
        text-align:center;
        p {
          display:flex;
          align-items: center;
          justify-content: center;
        }
        .icon {
          height:67px;
        }
        .text {
          flex:1;
          font-size:rem(25);
          font-weight:500;
        }
        .time {
          height:76px;
          font-size:rem(30);
          font-weight:700;
          background-color:#f9f2f2;
          border-radius:0 0 18px 18px;
          &.rest {
            flex-flow:column;
            font-size:rem(21);
            span {
              font-weight:700;
            }
          }
        }
      }
    }
    
  }

  // location
  [data-section-name='location'] {
    .main-loca {
      display:flex;
      width:100%;
      .map {
        width:695px;
        height:478px;
      }
      .info {
        flex:1;
        padding:0 0 0 30px;
        color:#121212;
        .main-title-1 {
          margin: 0 -20px 0 0;
          padding-bottom:10px;
          letter-spacing: -1px;
          text-align: left;
          span {
            letter-spacing: 0;
          }
        }
        .loca-list-1 {
          display:flex;
          flex-wrap:wrap;
          width:100%;
          li {
            position:relative;
            width:200px;
            margin-top:3px;
            padding-left:30px;
            color:#121212;
            font-size:rem(20);
            line-height:1.4;
            &:first-child {
              width:100%;
            }
            .icon {
              position:absolute;
              top:4px;
              left:0;
            }
            .text01 {
              font-weight:700;
              line-height:1.4;
            }
          }
          &.type-2 {
            margin-top:18px;
            padding-top:0;
            border-top:1px solid #acacac;
            li {
              width:100%;
              margin-top:18px;
            }
          }
        }
      }
    }
    
  }

  // footer
  [data-section-name='footer'] {
    .container {
      padding:75px 0 0 310px;
    }
  }


  // mobile
  @include mediaQuery($deviceSmall){
    margin:-52px 0 -60px;
    .container {
      padding:52px 13px 0;
    }

    .main-title-1 {
      padding-bottom:8px;
      font-size:rem(30);
      span {
        margin-bottom:3px;
        font-size:rem(9);
      }
      &.type-2 {
        padding-bottom:8px;
        &:after {
          display:none;
        }
      }
    }

    .main-text-1 {
      font-size:rem(10);
    }

    // intro
    [data-section-name='intro'] {
      background-image:url("../images/main_m_bg01.jpg");
      background-position-y:52px;
      .text-box {
        text-align:center;
        .text01 {
          padding-bottom:0;
          font-size:rem(30);
          &:after {
            display:none;
          }
        }
        .text02 {
          margin-top:12px;
          font-size:rem(11);
        }
        .icon {
          justify-content: center;
          margin-top:23px;
          li {
            margin:0 14px;
            img {
              width:82px;
            }
            span {
              margin-top:8px;
              font-size:rem(11);
            }
          }
        }
      }
    }

    // subject
    [data-section-name='subject'] {
      background-image:url("../images/main_m_bg02.jpg");
      .subject-list {
        display:flex;
        flex-wrap:wrap;
        width:100%;
        padding:20px 0 0 0;
        li {
          width:31%;
          height:93px;
          margin-top:12px;
          img {
            width:42px;
          }
          span {
            margin-top:8px;
            font-size:rem(9);
          }
          &:last-child {
            display:none;
          }
        }
      }
    }

    // infra
    [data-section-name='infra'] {
      background-image:url("../images/main_bg03.jpg");
      .infra-list {
        flex-wrap:wrap;
        margin:16px 30px 42px 30px;
        li {
          width:100px;
          height:100px;
          margin:16px 8px 0;
          padding:13px 0 0 0;
          border-radius:8px;
          .icon {
            height:28px;
            img {
              zoom:0.5;
            }
          }
          .text {
            font-size:rem(11);
          }
          .time {
            height:33px;
            font-size:rem(13);
            border-radius:0 0 8px 8px;
            &.rest {
              font-size:rem(9);
              letter-spacing: -1px;
              span {
                font-weight:700;
              }
            }
          }
        }
      }
      
    }

    // location
    [data-section-name='location'] {
      .main-loca {
        flex-wrap:wrap;
        .map {
          width:100%;
          height:223px;
          order:1;
        }
        .info {
          flex:1;
          padding:0 0 30px 0;
          .main-title-1 {
            margin:0;
            padding-bottom:26px;
            letter-spacing: 0;
            text-align: center;
            span {
              letter-spacing: 0;
            }
          }
          .loca-list-1 {
            display:flex;
            flex-wrap:wrap;
            justify-content: center;
            width:100%;
            text-align:center;
            li {
              width:98px;
              margin-top:3px;
              padding-left:0;
              font-size:rem(11);
              .icon {
                position:static;
                display:inline-block;
                margin-right:5px;
                img {
                  margin:-4px 0 0 0;
                  zoom:0.5;
                  vertical-align: middle;
                }
              }
              .text01 {
                display:inline-block;
              }
            }
            &.type-2 {
              display:none;
            }
          }
        }
      }
      
    }

    // footer
    [data-section-name='footer'] {
      .container {
        padding:35px 0 0 28px;
      }
    }

  }

}