<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>인계365 힐링의원 <!--@@var title--></title>

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <!-- <link rel="alternate" href="http://" hreflang="ko" /> -->

  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">

  <!-- <link rel="icon" type="image/png" href="/favicon.png"> -->
  <link rel="stylesheet" href="./css/style.css">

</head>

<body>

  <!-- skip navigation -->
  <div class="skip-nav">
    <a href="#contents">Go To Contents</a>
  </div>

  <!-- wrap -->
  <div id="wrap">
    <div class="dim"></div>
    <!-- header -->
    <header id="header">
      <div class="container">
        <h1><a href="./index.html">인계365 힐링의원</a></h1>
        <a href="" class="m-menu">
          <span>메뉴 열림</span>
        </a>
      </div>
      <nav id="gnb">
        <div class="container">
          <p class="m-title">인계365 힐링의원</p>
          <ul>
            <li><a href="./intro.html">병원소개</a></li>
            <li><a href="./subject.html">진료안내</a></li>
            <li><a href="./infra.html">의원시설</a></li>
            <li><a href="./location.html">오시는 길</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- //header -->

    <!-- contents -->
    <section id="contents">
      <!--@@placeholder = contents -->
    </section>
    <!-- //contents -->

    <!-- quick -->
    <aside id="quick">
      <ul>
        <!-- <li><a href="" target="_blank" class="kakaotalk">카카오톡 상담</a></li> -->
        <li><a href="tel:031-232-3650" class="tel">031-232-3650에 전화하기</a></li>
        <li><a href="./location.html" class="location">오시는길</a></li>
        <li><a href="#wrap" class="top">맨위로 가기</a></li>
      </ul>
    </aside>
    <!-- //quick -->

    <!-- mobile top -->
    <a href="#wrap" class="top only-m m-quick">맨위로 가기</a>
    <!-- //mobile top -->

    <!-- footer -->
    <footer id="footer" class="<!--@@var foot-->">
      <div class="container">
        <h2 class="invisible">푸터 영역</h2>
        <span class="foot-logo">인계365 힐링의원</span>
        <div>
          <span>상호명 : 인계365힐링의원</span>
          <span>대표 : 표기철</span>
          <address>주소 : 경기도 수원시 팔달구 인계로 53 (인계동 871-5번지, 3층)</address>
        </div>
        <div>
          <span>문의 : 031-232-3650</span>
          <span>FAX : 031-546-8288</span>
        </div>
      </div>
    </footer>
    <!-- //footer -->

  </div>
  <!-- //wrap -->

  <!-- jquery cdn -->
  <script src="./js/ui_js.js"></script>
</body>

</html>